.company-name {
    opacity: 0;
    animation: fadeIn 5s forwards;
    font-size: 3rem;       
    /*font-weight: bold;   */
    text-align: center;    
    color: whitesmoke;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  